extends layout
block content
  head
    meta(charset='UTF-8')
    title Registered Furniture Stock
    link(rel="stylesheet", href="/css/furniture.css")
  header
    h1 Furniture Stock List
    <table>
      thead 
        tr
        th Furniture Type 
        th Image
        th Quantity 
        th Material 
        th Price 
        th Update 
        th Delete
    tbody 
      if furnitureStocks.length > 0
        each item in furnitureStocks
          tr 
            td #{item.furnitureType}
            td 
              img(src="/"+ item.furnitureImage alt="furniture image" width="150px" height="170px")
            td #{item.quantity}
            td #{item.material}
            td #{item.unitPrice}
            td 
              a(href=`/furniture/${item._id}`) Update
            td 
              button(data-id=`/furniture/${item._id}`) Delete
      </table>
    