extends layout
block content
    head
        meta(charset='UTF-8')
        title Manager Dashboard
        link(rel="stylesheet", href="/css/dashboard.css")
    header
        h1 Manager Dashboard
        h3 Welcome #{fullName}!
    nav.sidebar
        ul.sidebar-links 
            li 
                a(href='/users') Registered Users
            li 
                a(href='/register_wood') Register Wood Stock
            li 
                a(href='/register_furniture') Register Furniture Stock
            li 
                a(href='/reg_furnituresale') Register Furniture Sales
            li
                a(href='/reg_woodsale') Register Wood Sales
            li 
                a(href='/wood_list') Wood Stock List
            li 
                a(href='/furniture_list') Furniture Stock List
            li 
                a(href='/logout') Logout
    main
        section.cards 
            .card 
                h4 Total Wood Stock 
                p Quantity of Hardwood in stock: #{totalHardWood.totalQuantity} Pieces 
                p Quantity of Softwood in stock: #{totalSoftWood.totalQuantity} Pieces 
                p Quantity of Timber in stock: #{totalTimber.totalQuantity} Pieces 
                p Quantity of Poles in stock: #{totalPoles.totalQuantity} Pieces
            .card
                h4 Total Furniture Stock 
                p Quantity of Chairs in stock: #{totalChairs.totalQuantity} Pieces 
                p Quantity of Sofas in stock: #{totalSofas.totalQuantity} Pieces 
                p Quantity of Cupboards in stock: #{totalCupboards.totalQuantity} Pieces 
                p Quantity of Beds in stock: #{totalBeds.totalQuantity} Pieces
            .card
                h4 Total Expenses 
                p Expenses on HardWood: #{totalHardWood.totalCost} UGX
                p Expenses on Softwood: #{totalSoftWood.totalCost} UGX
                p Expenses on Timber: #{totalTimber.totalCost} UGX
                p Expenses on Poles: #{totalPoles.totalCost} UGX
                p Total: #{new Intl.NumberFormat().format((totalHardWood.totalCost) + (totalSoftWood.totalCost) + (totalTimber.totalCost) + (totalPoles.totalCost))} UGX
            .card
                h4 Total Revenue
                p #{new Intl.NumberFormat().format(totalRevenue)} UGX
            .card
                h4 Profits 
                p #{new Intl.NumberFormat().format(grossProfit)} UGX
            .card#low-stock-alerts
                h5 Low Stock Alerts     
                if lowWoodStock.length > 0
                    ul
                        each item in lowWoodStock
                            li #{item.name} - #{item.quantity} Pieces Remaining
                else
                    p No low stock alerts.
                if lowFurnitureStock.length > 0
                    ul
                        each item in lowFurnitureStock
                            li #{item.name} - #{item.quantity} Pieces Remaining
                else
                    p No low stock alerts.