extends layout
block content
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    title Registered Wood Stock
    link(rel="stylesheet", href="/css/wood.css")
  header
    h1 Wood Stock List
    <table>
      thead 
        tr
          th Wood Name
          th Wood Type 
          th Quantity 
          th Supplier 
          th Cost Price
          th Date Received 
          th Sale Price
          th Update 
          th Delete
      tbody 
        if woodStocks.length > 0
          each item in woodStocks
            tr 
              td #{item.woodName}
              td #{item.woodType}
              td #{item.quantity}
              td #{item.supplier}
              td #{item.unitPrice}
              td #{item.dateReceived}
              td #{item.salePrice}
              td 
                a(href=`/wood/${item._id}`) Update
              td 
                button(data-id=`/wood/${item._id}`) Delete
    </table>
